/.cache
/.Python
/bin/
/build
/dist
/include
/lib
/man
/pip-selfcheck.json
/pyvenv.cfg
/venv
/.venv
/.project
/.pydevproject
/.settings/
*.code-workspace
*.pyo
*.pyc
*.egg
*.egg-info
*.swp
.vscode
.idea
